<div class="welcome-container">
  <div class="hero-card">
    <mat-icon color="primary" class="main-logo">home_work</mat-icon>
    <h1>Bienvenido a TuNuevoCuarto</h1>
    <p>La plataforma inteligente para gestionar tus alquileres de forma sencilla y automática.</p>
    
    <div class="auth-actions">
      <button mat-raised-button color="primary" class="google-btn" (click)="loginWithGoogle()">
        <img src="https://upload.wikimedia.org/wikipedia/commons/c/c1/Google_Logo.svg" alt="Google" width="20">
        Iniciar sesión con Google
      </button>
    </div>
  </div>
</div>