<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer [mode]="isMobile() ? 'over' : 'side'" [opened]="!isMobile()" class="sidenav">
    <div class="logo-section">
      <mat-icon class="main-logo">home_work</mat-icon>
      <span class="logo-text">CuarTech</span>
    </div>

    <mat-nav-list class="nav-list">
      <a
        mat-list-item
        *ngFor="let item of menuItems"
        [routerLink]="item.route"
        routerLinkActive="active-link"
        (click)="closeOnMobile(drawer)"
      >
        <mat-icon matListItemIcon class="nav-icon">{{ item.icon }}</mat-icon>
        <span matListItemTitle class="nav-title">{{ item.label }}</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="content-wrapper">
    <mat-toolbar class="main-toolbar">
      <button mat-icon-button class="toggle-btn" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="toolbar-title">Panel de Administración</span>
      <span class="spacer"></span>
      <button mat-icon-button class="toolbar-action">
        <mat-icon>notifications</mat-icon>
      </button>
    </mat-toolbar>

    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
